html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica;
  font-size: 1.6em;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'Open Sans', Arial, Helvetica;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:focus {
  outline: none;
}
.btn_type_1 {
  border: 2px solid #505050;
  color: #505050;
  font-size: 0.875em;
}
.btn_type_1:hover {
  color: #fff;
  background-color: #01ddaf;
  border-color: #01ddaf;
}
.btn_type_2 {
  border: 2px solid #01ddaf;
  color: #01ddaf;
  font-size: 0.8125em;
}
.btn_type_2:hover {
  background-color: #01ddaf;
  color: #fff;
}
.img {
  width: 100%;
}
.list-u {
  padding-left: 0;
  margin: 1.5em 0;
  list-style: none;
}
.list-u__item {
  margin-top: 0.75em;
}
.list-u__icon {
  margin-right: 10px;
  color: #01ddaf;
}
.wrapper-main {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #E4E4E4;
}
.header_relative {
  position: relative;
}
.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner_position_relative {
  position: relative;
}
.header__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__link {
  text-decoration: none;
}
.logo__img {
  width: 70px;
}
.nav-main__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
.nav {
  list-style: none;
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav__subnav {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #222222;
  z-index: 1100;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.nav__subnav_level-2 {
  top: 100%;
  left: 0;
}
.nav__subnav_level-2_big {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 0;
}
.nav__subnav_level-3 {
  top: 0;
  left: 100%;
}
.nav__col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  margin: 0;
  list-style: none;
}
.nav__col:nth-child(n+1) {
  position: relative;
}
.nav__col:nth-child(n+1):before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 90%;
  width: 1px;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(#353535), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), #353535, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), #353535, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #353535, rgba(0, 0, 0, 0));
  z-index: 1100;
}
.nav__heading {
  padding: 15px;
  border-bottom: 1px solid #272727;
  margin: 0;
  text-transform: uppercase;
  color: #E7E7E7;
}
.nav__item_has-subnav {
  position: relative;
}
.nav__item_has-subnav_big {
  position: static;
}
.nav__item_has-subnav:hover > .nav__subnav {
  visibility: visible;
  opacity: 1;
}
.nav__item_level-2 {
  border-bottom: 1px solid #272727;
}
.nav__item_level-2:last-child {
  border-bottom: none;
}
.nav__item_level-3 {
  border-bottom: 1px solid #272727;
}
.nav__item_level-3:last-child {
  border-bottom: none;
}
.nav__link {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  color: #333333;
  line-height: 80px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  white-space: nowrap;
  font-size: 0.875em;
}
.nav__link_level-2 {
  min-width: 120px;
  padding: 15px 45px 15px 15px;
  color: #a7a7a7;
  line-height: 1.15;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.nav__link_level-3 {
  min-width: 120px;
  padding: 15px 25px 15px 15px;
  color: #a7a7a7;
  line-height: 1.15;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.nav__link:hover {
  color: #3BE5C1;
}
.nav__link_active {
  color: #3BE5C1;
}
.nav__icon_to-level-3 {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -0.5em;
  font-size: 1.16666667em;
}
.activate-search {
  display: block;
  width: 30px;
  padding: 0 20px;
  text-decoration: none;
  text-align: center;
  color: #333333;
  line-height: 80px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 0.875em;
}
.activate-search:hover {
  color: #3BE5C1;
}
.search {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #333333;
  z-index: 1000;
}
.search__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search__input {
  -webkit-flex-basis: 1;
      -ms-flex-preferred-size: 1;
          flex-basis: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100px;
  border: none;
  background-color: #333333;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 300;
}
.search__input:focus {
  outline: none;
}
.search__input::-webkit-input-placeholder {
  color: #eee;
}
.search__input:-moz-placeholder {
  color: #eee;
}
.search__input::-moz-placeholder {
  color: #eee;
}
.search__input:-ms-input-placeholder {
  color: #eee;
}
.search__input::placeholder {
  color: #eee;
}
.slider {
  height: 600px;
  text-align: center;
}
.content__row {
  margin-top: 75px;
}
.content__row_columns_two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.content__row_columns-two_middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__column-left {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.content__column-right {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}
.content__column-right_img-placeholder {
  padding-left: 20px;
}
.content__section {
  padding-top: 45px;
}
.content__rs-two {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 45px;
}
.section__header {
  position: relative;
  padding: 1px 0;
}
.section__header:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 2px;
  background-color: #01ddaf;
}
.section__header_text-align_left {
  text-align: left;
}
.section__header_text-align_left:after {
  left: 0;
}
.section__header_text-align_center {
  text-align: center;
}
.section__header_text-align_center:after {
  left: 50%;
  margin-left: -25px;
}
.section__heading {
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 400;
  letter-spacing: 0.05555556em;
}
.section__description {
  color: #bbbbbb;
  font-size: 0.875em;
}
.section__content {
  margin-top: 60px;
}
.section__text {
  font-size: 0.8125em;
  color: #686868;
  line-height: 1.6;
}
.section__text_align_center {
  text-align: center;
}
.rs-one__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rs-one__item {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
  text-align: center;
}
.rs-one__heading-item {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}
.rs-one__icon {
  color: #01ddaf;
  font-size: 5em;
}
.rs-two__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.rs-two__item {
  position: relative;
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  padding: 40px 0;
  text-align: center;
}
.rs-two__item:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(#e8e8e8), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #e8e8e8, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0), #e8e8e8, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #e8e8e8, rgba(0, 0, 0, 0));
}
.rs-two__item:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(#e8e8e8), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), #e8e8e8, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), #e8e8e8, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #e8e8e8, rgba(0, 0, 0, 0));
}
.rs-two__item:nth-last-child(-n+3):before {
  content: '';
  display: none;
}
.rs-two__item:nth-child(3n+3):after {
  content: '';
  display: none;
}
.rs-two__icon {
  color: #01ddaf;
  font-size: 1.875em;
}
.rs-two__heading-item {
  font-size: 0.875em;
  font-weight: 400;
}
.parallax {
  background: url('../img/office.jpg') center / cover no-repeat fixed;
}
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu__item {
  padding: 5px 15px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 0.8125em;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__item:hover {
  background-color: #333333;
  color: #fff;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__item_active {
  background-color: #333333;
  color: #fff;
}
.rs-three__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 593px;
  padding: 0;
  margin: 45px 0 0 0;
  list-style: none;
}
.rs-three__item {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  padding: 5px;
}
.rs-three__item:nth-child(3) {
  width: 50%;
}
.rs-three__item:hover .rs-three__desc {
  opacity: 1;
}
.rs-three__item:hover .rs-three__desc:before {
  -webkit-transform: scale(1, 1);
     -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
       -o-transform: scale(1, 1);
          transform: scale(1, 1);
}
.rs-three__item:hover .rs-three__desc:after {
  -webkit-transform: scale(1, 1);
     -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
       -o-transform: scale(1, 1);
          transform: scale(1, 1);
}
.rs-three__item:hover .rs-three__title {
  -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.rs-three__img {
  display: block;
  width: 100%;
}
.rs-three__link {
  display: block;
  text-decoration: none;
  color: #000;
}
.rs-three__desc {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.rs-three__desc:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  -webkit-transform: scale(0, 1);
     -moz-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
       -o-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.rs-three__desc:after {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  -webkit-transform: scale(1, 0);
     -moz-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
       -o-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.rs-three__title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 1em;
  margin: -0.8em 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.rs-four {
  padding-right: 20px;
}
.rs-four__list-u {
  margin-top: 20px;
}
.rs-four__btn {
  margin-top: 20px;
  text-transform: uppercase;
}
