// variables
@import (less, reference) 'variables.less';

//normalize.css
@import (less) 'normalize_modified.less';

// /* ----------------------------------------------
//                      BUTTONS
//    ---------------------------------------------- */
.btn{
    display: inline-block;
    padding: 10px 15px;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;
    &:focus{
        outline: none;
    }
    &_type{
        &_1{
            border: 2px solid #505050;
            color: #505050;
            .fontSizeEm(14);
            &:hover{
                color: #fff;
                background-color: #01ddaf;
                border-color: #01ddaf;
            }
        }
        &_2{
            border: 2px solid #01ddaf;
            color: #01ddaf;
            .fontSizeEm(13);
            &:hover{
                background-color: #01ddaf;
                color: #fff;
            }
        }
        &_3{
            border: 2px solid #505050;
            color: #505050;
            .fontSizeEm(14);
            &:hover{
                color: #fff;
                background-color: #505050;
            }
        }
    }
}

// /* ----------------------------------------------
//                      LINKS
//    ---------------------------------------------- */
.link{

}
// /* ----------------------------------------------
//                      IMAGES
//    ---------------------------------------------- */
.img{
    width: 100%;
}

// /* ----------------------------------------------
//                      LISTS
//    ---------------------------------------------- */
// unordered list
.list-u{
    padding-left: 0;
    margin: 1.5em 0;
    list-style: none;
    &__item{
        position: relative; // for :before
        padding-left: 20px;
        margin-top: 0.75em;
        &:before{
            position: absolute;
            top: 50%;
            left: 0;
            content: '\f00c';
            display: inline-block;
            padding-right: 30px;
            margin-top: -0.5em;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            color: #01ddaf;
            line-height: 1em;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        &_marker_type-2{
            &:before{
                content: '\f00d';
                color: #F5385D;
            }
        }
    }
}

// /* ----------------------------------------------
//                      WRAPPERS
//    ---------------------------------------------- */
.wrapper-main{
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper-big {
    width: 1500px;
    margin: 0 auto;
}

// /* ----------------------------------------------
//                      CONTROLS
//    ---------------------------------------------- */
.controls{
    user-select: none;
    &__btn-prev{
        position: relative; // for :after
        display: inline-block;
        width: 50px;
        height: 40px;
        background-color: #01ddaf;
        cursor: pointer;
        text-align: center;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -20px;
            border-left: 10px solid #01ddaf;
            border-bottom: 20px solid transparent;
            border-top: 20px solid #01ddaf;
            border-right: 10px solid transparent;
        }
    }
    &__btn-next{
        position: relative; // for :after
        display: inline-block;
        width: 50px;
        height: 40px;
        margin-left: 22px;
        background-color: #01ddaf;
        cursor: pointer;
        text-align: center;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -20px;
            border-left: 10px solid transparent;
            border-bottom: 20px solid #01ddaf;
            border-top: 20px solid transparent;
            border-right: 10px solid #01ddaf;
        }
    }
    &__btn-disabled{
        pointer-events: none;
        opacity: 0.7;
    }
    &__icon{
        .fontSizeEm(20);
        line-height: 40px;
        color: #fff;
    }

}

// /* ----------------------------------------------
//                      HEADER
//    ---------------------------------------------- */
.header{
    border-bottom: 1px solid #E4E4E4;
    background-color: #fff;
    &_relative{
        position: relative; // for .search
    }
    &_fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: @z-index-default;
    }
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_position_relative{
            position: relative; // for .nav__list_big
        }
    }
    &__col{
        display: flex;
        align-items: center;
    }
}

// /* ----------------------------------------------
//                      LOGO
//    ---------------------------------------------- */
.logo{
    &__link{
        text-decoration: none;
    }
    &__img{
        width: 70px;
    }
}

// /* ----------------------------------------------
//                      NAVIGATION
//    ---------------------------------------------- */
.nav-main{
    &__nav{
        display: flex;
        padding: 0;
        margin: 0;
    }
}
.nav{
    list-style: none;
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__subnav{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #222222;
        z-index: @z-nav-submenu;
        transition: opacity 0.3s;
        &_level-2{
            top: 100%;
            left: 0;
            &_big{
                display: flex;
                justify-content: space-between;
                right: 0;
            }
        }
        &_level-3{
            top: 0;
            left: 100%;
        }
    }
    &__col{
        flex-grow: 1;
        padding: 20px;
        margin: 0;
        list-style: none;
        &:nth-child(n+1){
            ///*
            // n+1 для того, чтоб полоса была только если списков >1
            //*/
            position: relative; // for :before
            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                height: 90%;
                width: 1px;
                transform: translate(0,-50%);
                background-image: linear-gradient(to top, rgba(0,0,0,0), #353535, rgba(0,0,0,0));
                z-index: @z-nav-submenu;
            }
        }
    }
    &__heading{
        padding: 15px;
        border-bottom: 1px solid #272727;
        margin: 0;
        text-transform: uppercase;
        color: #E7E7E7;
    }
    &__item{
        &_has-subnav{
            position: relative; // for submenu, icons
            &_big{
                position: static;
            }
            // for transition
            &:hover > .nav__subnav {
                visibility: visible;
                opacity: 1;
            }
        }
        &_level-2 {
            border-bottom: 1px solid #272727;
            &:last-child {
                border-bottom: none;
            }
        }
        &_level-3{
            border-bottom: 1px solid #272727;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    &__link{
        display: block;
        padding: 0 20px;
        text-decoration: none;
        color: #333333;
        line-height: 80px;
        transition: color 0.3s;
        white-space: nowrap;
        .fontSizeEm(14);
        &_level-2 {
            min-width: 120px;
            padding: 15px 45px 15px 15px;
            color: #a7a7a7;
            line-height: @lineHeightDefault;
            text-transform: uppercase;
            font-size: 1.2rem;
        }
        &_level-3{
            min-width: 120px;
            padding: 15px 25px 15px 15px;
            color: #a7a7a7;
            line-height: @lineHeightDefault;
            text-transform: uppercase;
            font-size: 1.2rem;
        }
        &:hover{
            color: #3BE5C1;
        }
        &_active{
            color: #3BE5C1;
        }
    }
    &__icon{
        ///*
        // иконки с font-awesome лучше размещать внутри ссылки - при наведении применяется для нее такой же цвет, как и у ссылки
        //*/
        &_to-level-3{
            position: absolute;
            top: 50%;
            right: 20px;
            margin-top: -0.5em; // все время будет половина текущего размера шрифта т.е. нужной высоты т.к. line-height = 1
            .fontSizeEm(14, 12);
        }
    }
}

// /* ----------------------------------------------
//                      ACTIVATE
//    ---------------------------------------------- */
.activate{
    &-search{
        display: block;
        width: 30px;
        padding: 0 20px;
        text-decoration: none;
        text-align: center;
        color: #333333;
        line-height: 80px;
        transition: color 0.3s;
        .fontSizeEm(14);
        &:hover{
            color: #3BE5C1;
        }
        &__icon{
        }
    }
}
// /* ----------------------------------------------
//                      SEARCH
//    ---------------------------------------------- */
.search{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #333333;
    z-index: @z-index-default;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__input{
        flex-basis: 1;
        flex-grow: 1;
        height: 100px;
        border: none;
        background-color: #333333;
        text-align: center;
        .fontSizeEm(20);
        font-weight: 300;
        color: #7b7b7b;
        &:focus{
            outline: none;
            &::placeholder{
                color: transparent;
            }
        }
        &::placeholder{
            color: #eee;
        }

    }
    &__submit{
    }
}

// /* ----------------------------------------------
//                      SLIDER
//    ---------------------------------------------- */
.slider{
    position: relative; //  for controls
    &__items{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        position: relative; //  for __content
    }
    &__content{
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        background: url('@{src-img}/slider__content-bg.png') 0 ~"0/100%" 100% no-repeat;
    }
    &__inner{
        position: absolute;
        bottom: 70px;
        right: 20px;
        left: 150px;
    }
    &__heading{
        margin: 0;
        .fontSizeEm(40);
        text-transform: uppercase;
        color: #333;
    }
    &__text{
        margin-top: 15px;
        .fontSizeEm(15);
        line-height: 1.5;
        color: #636161;
    }
    &__controls{
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: @z-index-default;
    }

    //  generated slider controls
    & .owl{
        user-select: none;
        &-nav{
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: @z-index-default;
        }
        &-prev{
            position: relative; // for :after
            display: inline-block;
            width: 50px;
            height: 40px;
            background-color: #01ddaf;
            cursor: pointer;
            text-align: center;
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: -20px;
                border-left: 10px solid #01ddaf;
                border-bottom: 20px solid transparent;
                border-top: 20px solid #01ddaf;
                border-right: 10px solid transparent;
            }
        }
        &-next{
            position: relative; // for :after
            display: inline-block;
            width: 50px;
            height: 40px;
            margin-left: 22px;
            background-color: #01ddaf;
            cursor: pointer;
            text-align: center;
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: -20px;
                border-left: 10px solid transparent;
                border-bottom: 20px solid #01ddaf;
                border-top: 20px solid transparent;
                border-right: 10px solid #01ddaf;
            }
        }
        &-dots{
            position: absolute;
            bottom: 10px;
            right: 16%;
            z-index: @z-index-default;
        }
        &-dot{
            display: inline-block;
            width: 12px;
            height: 12px;
            border: 2px solid #01ddaf;
            border-radius: 50%;
            margin-left: 5px;
            &:first-child{
                margin-left: 0;
            }
            &.active{
                background-color: #01ddaf;

            }
        }
    }

}



// /* ----------------------------------------------
//                     CONTENT
//    ---------------------------------------------- */
.content{
    padding-bottom: 75px;
    &__row{
        margin-top: 75px;
        &_columns_two{
            display: flex;
        }
        &_columns-two{
            &_middle{
                align-items: center;
            }
        }
    }
    &__column-left{
        flex-basis: 50%;
    }
    &__column-right{
        flex-basis: 50%;
        &_img-placeholder{
            padding-left: 20px;
        }
    }
    &__section{
        padding-top: 45px;
    }
    &__rs-two{
        // fixed missing padding-top
        // added padding-bottom
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 45px;
    }
}

// /* ----------------------------------------------
//                      SECTION
//    ---------------------------------------------- */
.section{
    &__header{
        position: relative; // for :after
        padding: 1px 0;
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            width: 50px;
            height: 2px;
            background-color: #01ddaf;
        }
        // added styles for different text-align
        // modified line under .section__header
        &_text-align_left{
            text-align: left;
            &:after{
                left: 0;
            }
        }
        &_text-align_center{
            text-align: center;
            &:after{
                left: 50%;
                margin-left: -25px;
            }
        }
        &_has-link{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__heading{
        text-transform: uppercase;
        .fontSizeEm(18);
        font-weight: 400;
        .letter-spacing(1, 18);
    }
    &__description{
        color: #bbbbbb;
        .fontSizeEm(14);
    }
    &__content{
        margin-top: 60px;
    }
    &__text{
        .fontSizeEm(13);
        color: #686868;
        line-height: 1.6;
        &_align_center{
            text-align: center;
        }
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION ONE
//    ---------------------------------------------- */
.rs-one{
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        flex-basis: 30%;
        text-align: center;
    }
    &__heading-item{
        .fontSizeEm(16);
        font-weight: 400;
        text-transform: uppercase;
    }
    &__icon{
        color: #01ddaf;
        .fontSizeEm(80, 16);
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION TWO
//    ---------------------------------------------- */
.rs-two{
    &__items{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        position: relative; // for :before, :after
        flex-basis: 33.33333%;
        padding: 40px 0;
        text-align: center;
        &:before{
            content: '';
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-image: linear-gradient(to left, rgba(0,0,0,0), #e8e8e8, rgba(0,0,0,0));
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-image: linear-gradient(to top, rgba(0,0,0,0), #e8e8e8, rgba(0,0,0,0));
        }
        &:nth-last-child(-n+3):before{
            content: '';
            display: none;
        }
        &:nth-child(3n+3):after{
            content: '';
            display: none;
        }
    }
    &__icon{
        color: #01ddaf;
        .fontSizeEm(30);
    }
    &__heading-item{
        .fontSizeEm(14);
        font-weight: 400;
    }
}

// /* ----------------------------------------------
//               PARALLAX
//    ---------------------------------------------- */
.parallax{
    background: url('@{src-img}/office.jpg') center/cover no-repeat fixed;
}

// /* ----------------------------------------------
//               MENU
//    ---------------------------------------------- */
.menu{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    &__item{
        padding: 5px 15px;
        margin-left: 20px;
        cursor: pointer;
        .fontSizeEm(13);
        transition: all 0.3s;
        &:hover{
            background-color: #333333;
            color: #fff;
        }
        &:first-child{
            margin-left: 0;
        }
        &_active{
            background-color: #333333;
            color: #fff;
        }
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION 3
//    ---------------------------------------------- */
.rs-three{
    &__items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: 593px;
        padding: 0;
        margin: 45px 0 0 0;
        list-style: none;
    }
    &__item{
        position: relative; // for &__link
        box-sizing: border-box;
        width: 25%;
        padding: 5px;
        &:nth-child(3){
            width: 50%;
        }
        &:hover{
            .rs-three__desc{
                opacity: 1;
                &:before{
                    transform: scale(1, 1);
                }
                &:after{
                    transform: scale(1, 1);
                }
            }
            .rs-three__title{
                transform: translate(0, 0);
            }
        }
    }
    &__img{
        display: block; // delete default free space below images
        width: 100%;
    }
    &__link{
        display: block;
        text-decoration: none;
        color: #000;
    }
    &__desc{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        background: rgba(255, 255, 255, 0.6);
        transition: all 0.5s;
        &:before{
            content: '';
            position: absolute;
            top: 30px;
            left: 30px;
            bottom: 30px;
            right: 30px;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
            transform: scale(0, 1);
            transition: all 0.5s;
        }
        &:after{
            content: '';
            position: absolute;
            top: 30px;
            left: 30px;
            bottom: 30px;
            right: 30px;
            border-left: 1px solid #333;
            border-right: 1px solid #333;
            transform: scale(1, 0);
            transition: all 0.5s;
        }
    }
    &__title{
        position: absolute;
        top: 50%;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 0 1em;
        margin: -0.8em 0 0 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        transform: translate(0, -50%);
        transition: all 0.5s;
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION 4
//    ---------------------------------------------- */
.rs-four{
    padding-right: 20px;
    &__list-u{
        margin-top: 20px;
    }
    &__btn{
        margin-top: 20px;
        text-transform: uppercase;
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION 5
//    ---------------------------------------------- */
.rs-five{
    &__items{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        width: 277px;
    }
    &__img{
        width: 100%;
    }
    &__item-heading{
        .fontSizeEm(15);
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    &__description{
        .fontSizeEm(13);
    }
    &__controls{
        margin-top: 30px;
        text-align: center;
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION 6
//    ---------------------------------------------- */
.rs-six{
    display: flex;
    justify-content: center;
    background: #2E0049 url('@{src-img}/rs-six__bg.jpg') no-repeat 0 59%/cover;
    &__item{
        position: relative; // for :after
        flex-grow: 1;
        padding: 40px;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 10%;
            right: 0;
            bottom: 10%;
            width: 1px;
            background-image: linear-gradient(to top, transparent, #e8e8e8, transparent);
        }
        &:last-child{
            &:after{
                content: normal;
            }
        }
    }
    &__content{
        text-align: center;
        .fontSizeEm(17);
        color: #fff;
        text-transform: uppercase;
    }
    &__amount{
        .fontSizeEm(60, 17);
        text-transform: none;
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION 7
//    ---------------------------------------------- */
.rs-seven{
    &__items{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        flex-grow: 1;
        padding: 0 10px;
        &:nth-child(2){
            flex-grow: 2;
        }
    }
    &__img{
        width: 100%;
    }
    &__date{
        margin: 20px 0 0;
        .fontSizeEm(12);
        color: #686868;
    }
    &__item-heading{
        margin: 5px 0 0;
        .fontSizeEm(15);
    }
    &__link{
        text-decoration: none;
        color: #000;
        font-weight: 400;
        transition: color 0.2s;
        &:hover{
            color: #01ddaf;
        }
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION 8
//    ---------------------------------------------- */
.rs-eight{
    &__items{
        padding: 0;
        margin: 0 auto;
        list-style: none;
    }
    &__item{
        text-align: center;
    }
    &__img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    &__info-heading{
        margin: 15px 0 0;
        .fontSizeEm(15);
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    &__profession{
        margin: 5px 0 0;
        .fontSizeEm(13);
    }
    &__description{
        margin-top: 40px;
        &:before, &:after{
            content: '\0022';
        }
    }
    &__controls{
        text-align: center;
        user-select: none;
    }
    &__control{
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid #01ddaf;
        cursor: pointer;
        &_active{
            background-color: #01ddaf;
        }
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION 9
//    ---------------------------------------------- */
.rs-nine{
    display: flex;
    &__item{
        flex-grow: 1;
        background-color: #1D1D1D;
        &:nth-child(2n + 2){
            background-color: #2D2D2D;
        }
    }
    &__img{
        width: 100%;
    }
}

// /* ----------------------------------------------
//               RANDOM SECTION 10
//    ---------------------------------------------- */
.rs-ten{
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 325px;
        padding-bottom: 20px;
        background: #2E0049 url('@{src-img}/rs-six__bg.jpg') no-repeat 0 0/cover;
    }
    &__item-header{
        padding: 30px 20px;
        color: #dedede;
        text-align: center;
    }
    &__item-heading{
        margin: 0;
        .fontSizeEm(30);
        font-weight: 400;
    }
    &__item-description{
        margin: 5px 0 0;
        .fontSizeEm(13);
    }
    &__cost{
        padding: 20px 10px;
        border-top: 1px solid #211C40;
        border-bottom: 1px solid #211C40;
        color: #01ddaf;
        text-align: center;
    }
    &__number{
        .fontSizeEm(45);
    }
    &__features{
        padding: 20px 80px;
    }
    &__feature{
        .fontSizeEm(13);
        color: #9c9a9a;
    }
    &__btn-holder{
        text-align: center;
    }
}

// /* ----------------------------------------------
//               CONTACTS
//    ---------------------------------------------- */

.contacts{
    padding: 0;
    margin: 0;
    list-style: none;
    &__item{
        margin-top: 10px;
        &:first-child{
            margin-top: 0;
        }
    }
    &__icon{
        width: 20px;
        height: 20px;
        padding: 5px;
        border: 1px solid #9e9e9e;
        border-radius: 50%;
        margin-right: 10px;
        .fontSizeEm(13);
        line-height: 20px;
        text-align: center;
        color: #9e9e9e;
    }
    &__link{
        .fontSizeEm(13);
        color: #9e9e9e;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

// /* ----------------------------------------------
//               FEATURED LINKS
//    ---------------------------------------------- */
.featured-links{
    margin: 0;
    padding: 0;
    list-style: none;
    &__item{
        padding: 10px 0;
        border-bottom: 1px solid #424040;
        &:last-child{
            border-bottom: none;
        }
    }
    &__link{
        .fontSizeEm(13);
        font-weight: 600;
        color: #9e9e9e;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.2s;
        &:hover{
            color: #01ddaf;
        }
    }
}

// /* ----------------------------------------------
//               TWEETS
//    ---------------------------------------------- */
.tweets{
    padding: 0;
    margin: 0;
    list-style: none;
    &__item{
        margin-top: 15px;
        &:first-child{
            margin-top: 0;
        }
    }
    &__link{
        .fontSizeEm(13);
        font-weight: 400;
        text-decoration: none;
        color: #686868;
        transition: color 0.2s;
        &:before{
            content: '@';
        }
        &:after{
            content: ' : ';
        }
        &:hover{
            color: #01ddaf;
        }
    }
    &__text{
        .fontSizeEm(13);
        line-height: 1.7;
        color: #686868;
    }
}

// /* ----------------------------------------------
//               SOCIALS
//    ---------------------------------------------- */
.socials{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    &__item{
        margin-left: 5px;
        &:first-child{
            margin-left: 0;
        }
    }
    &__link{
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        border: 1px solid #969696;
        color: #969696;
        text-align: center;
        transition: background-color 0.2s, color 0.2s;
        &:hover{
            background-color: #01ddaf;
            color: #fff;
        }
    }
    &__icon{
        .fontSizeEm(13);
        line-height: 20px;
    }
}


// /* ----------------------------------------------
//               TWEETS
//    ---------------------------------------------- */
.recent-posts{
    display: flex;
    flex-wrap: wrap;
    width: 215px;
    padding: 0;
    margin: 0;
    list-style: none;
    &__item{
        width: 50px;
        height: 50px;
        margin: 5px 0 0 5px;
        &:nth-child(4n + 1){
            margin-left: 0;
        }

    }
    &__link{
        display: block;
        position: relative; //  for :after
        text-decoration: none;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba(1, 221, 175, 0);
            transition: background-color 0.2s;
        }
        &:hover{
            &:after{
                background-color: rgba(1, 221, 175, 0.5);
            }
        }
    }
    &__img{
        width: 100%;
        vertical-align: bottom; // remove free space below
    }


}

// /* ----------------------------------------------
//               COPYRIGHT
//    ---------------------------------------------- */
.copyright{
    .fontSizeEm(13);
    color: #686868;
    text-align: center;
}


// /* ----------------------------------------------
//               FOOTER
//    ---------------------------------------------- */
.footer{
    padding: 100px 0 40px;
    background-color: #222222;
    &__row{
        margin-top: 30px;
        &_flex{
            display: flex;
            justify-content: space-between;
        }
        &_separator{
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to left, transparent, #e8e8e8, transparent);
            }
        }
    }
    &__col{
        &_size_m{
            flex-basis: 22%;
        }
    }
    &__section{
        &_has{
            &_delimiter{
                padding-bottom: 30px;
                border-bottom: 1px solid #424040;
            }
        }
    }
    &__heading{
        position: relative; //  for :after
        margin: 0;
        padding-bottom: 10px;
        .fontSizeEm(14);
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 40px;
            height: 3px;
            background-color: #01ddaf;
        }
    }
    &__content{
        margin-top: 25px;
    }
    &__text{
        .fontSizeEm(13);
        color: #686868;
        line-height: 1.7;
    }
    &__contacts{
        padding-top: 20px;
    }
    &__socials{
        padding-top: 20px;
    }
    &__copyright{
        margin-top: 30px;
    }
}








